<section class="box">
        
    <section class="log_box">
        <h2>Rejestracja</h2>
        <form>
        <label><label class="p_one">  Imie</label> <input type="text"> </label>
        <label><label class="p_one">  Nazwisko</label> <input type="text"> </label>
         <label><label class="p_one">  e-mail:</label> <input type="email"> </label>
         <label><label class="p_one">  Hasło:</label> <input type="password"> </label>
        <a routerLink='/logi'> <input type="submit" class="bt" value="Wyślij"> </a>
        </form>
    </section>

</section>
